@import url('https://ellexidecodes.github.io/Discord-Themes/addons/categoryNameFlair.css');
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Transparent%20CSS%20Editor.css");
@import url("https://ellexidecodes.github.io/Discord-Themes/addons/chatBubbles.css");
@import url("https://ellexidecodes.github.io/Discord-Themes/addons/iconTabs.css");
@import url("https://ellexidecodes.github.io/Discord-Themes/addons/minimalServerMenu.css");
@import url('https://tropix126.github.io/BetterDiscordStuff/friendgrid/v3/css/base.css');

.wrapper-3WhCwL {
  background-color: transparent !important;
  color: var(--link-color) !important;
}
.wrapper-3WhCwL:hover {
  background-color: var(--link-color) !important;
  color: white !important;
}
.markup-2BOw-j a {
color: var(--mention-color) !important;
}
.wrapper-1Rf91z .scrollerWrap-1IAIlv {
  margin-top: 46px !important;
  border-top: 2px solid var(--main-color);
}
.buttons-205you [tabindex="2"] {
  display: none;
}
.container-11WMXy {
  display: none;
}
.container-1r6BKw {
   background: #0000 !important;
 }
.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
  border-color: var(--main-color);
}
.theme-dark .bda-slist li:hover {transform: scale(1.02); box-shadow: 0px 0px 6px 0px #161617 !important;}
.theme-dark .bda-slist .bda-header {border-bottom: 2px solid var(--main-color) !important;}
.theme-dark .bda-slist li {
    background:var(--secondary-color) !important;
    border-bottom:none;
    box-shadow: 0px 0px 3px 0px #161617;
    transition: .2s all linear;
    border-top: 1px solid #121213 !important;
}
